*{
    margin: 0;
    padding: 0;
}
#section1{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
#section1-content h1{
    position: absolute;
    margin-left: 800px;
    margin-bottom: 200px;
    margin-top: 250px;
    font-size: 50px;
    color: white;
}

#section1-content h2{
    position: absolute;
    margin-left: 800px;
    margin-bottom: 200px;
    margin-top:300px;
    font-size: 25px;
    color: white;
    font-family: "Playwrite NL", cursive;
}

/* Header */
#header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    line-height: 70px;
}
#navbar{
    display: flex;
    justify-content: space-around;
    background: transparent;
}

#navbar h1{
    
    color: white;
    font-size: 1.8rem;
    /* text-shadow: 2px 2px 2px #000; */
    display: flex;font-family: cursive;
    justify-content: space-around;
}
#navbar ul{
    display: flex;
    color: white;
    font-size: 20px;
}
#navbar ul li{
    list-style: none;
    padding: 3px 15px 3px 15px;
}
#section1-content a{
    position: absolute;
   justify-content: center;
    margin: 450px;
   margin-left: 600px;
    color: white;
    padding: 3px 20px 3px 20px;
    border: 1px solid rgb(236, 232, 224);
    background: rgba(2, 36, 17, 0.6);
    font-size: 1.5rem;
    text-decoration: none;
   

}

#packages{
    text-align: center;
    margin-top: 15px;

}

/* #box{
    position: absolute;
    display: flex;
   
}


#package-img{
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    justify-content: space-between;
    padding: 3px;
   
} */


.card-container{
    
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
   
}
#card{
    display: flex;
}
h5{
    color: red;
}
#honey{
    text-align: center;
}
#images{
    width: 100px;
    height: 50px;
}
h1{
    text-align: center;
}
#boat-race{
    width: 100%;
    height:500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#boat-content{
   
    margin-left: 800px;
    margin-bottom: 200px;
    margin-top: 250px;
    justify-content: center;
    

}
.footer{
    padding: 70px 0;
    background-color: rgb(4, 4, 38);
    color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0px 2px 15px 55px;
    /* padding: 0 15px; */
}
.footer-col li a{
    color: white;
}
.social-links i{
    color: white;
    margin-top: 10px;
}
.footer-col img{
    width: 150px;
    height: 150px;
}

    